.nav {
  display: flex;
  border-style: solid;
  border-color: black;
  height: 3em;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.nav__item {
  margin-left: 3em;
  margin-bottom: 0;
}

nav a {
  opacity: 1;
  position: relative;
}
