*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Work Sans', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;

  --fw-reg: 300;
  --fw-med: 600;
  --fw-bold: 900;
  --clr-light: #f6f6f6;
  --clr-dark: #313131;
  --clr-hover-link: #fff;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-nav: 1rem;
  --fs-footer-copyright: 0.5em;

  --bs: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-dark);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-dark);
  color: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: var(--fw-bold);
}

.section__title {
  margin-bottom: 0.5rem;
}

.intro-hi {
  font-weight: initial;
}

.section__subtitle--intro {
  font-weight: var(--fw-reg);
  text-align: center;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  border-style: solid;
  border-width: thin;
  border-color: var(--clr-dark);
  padding: 0.25em;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
}

/* Intro section */
.intro {
  position: relative;
}

@media (min-width: 600px) {
  .intro {
    width: max-content;
    margin: 0 auto;
  }
}

.section__subtitle--intro {
  align-self: start;
}

.my-services {
  text-align: center;
}

.section__title--services {
  position: relative;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-dark);
  opacity: 0.5;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
      'title img'
      'subtitle img'
      'text img';
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(400px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My work */
.my-work {
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: var(--clr-dark);
}

.portifolio {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portifolio__item {
  border-style: solid;
  border-width: thin;
  border-color: var(--clr-dark);
  width: 300px;
}

.portifolio__item__title {
  font-weight: var(--fw-med);
}

.tool-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 2em 0 0;
  padding: 0;
}

.tool-list__item {
  font-size: var(--fs-h2);
}

.tool-list__img {
  height: 50px;
  width: 50px;
}

.nav,
.footer {
  background: var(--clr-light);
  color: var(--clr-dark);
  text-align: center;
}

.footer {
  margin-top: 3em;
  font-size: var(--fs-h3);
}

.footer__link,
.footer p {
  font-weight: var(--fw-bold);
  letter-spacing: 0.05em;
}

.footer p {
  font-size: var(--fs-footer-copyright);
}

.nav {
  font-weight: var(--fw-med);
  font-size: var(--fs-nav);
}

.nav__list {
  list-style: none;
  justify-content: center;
  text-transform: uppercase;
  margin: 2em 0 0;
  padding: 0;
  letter-spacing: 0.1em;
}

@media (min-width: 600px) {
  .nav__list {
    display: flex;
  }

  .nav__item + .nav__item {
    margin-left: 3em;
  }
}

.nav__item {
  margin: 0 0 2em 0;
}

.nav a,
.footer a,
.portifolio a {
  color: inherit;
  text-decoration: none;
}

.nav__link:hover,
.btn:hover,
.footer__link:hover,
.social-list__link:hover {
  transition: opacity 200ms ease-in-out;
  opacity: 0.5;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0 2.5em 0.5em;
}

.social-list__link {
  padding: 0.5em;
}
